:root {
  --color-white: #fff;
  --collor-gray-600: rgb(83, 100, 113);
  --collor-gray-200: rgb(239, 243, 244);
  --color-black: #000;

}

.c_h1 {
  font-weight: 600;
  font-size: 2rem;
}

.c-post {
  display: flex;
  align-items: flex-start;
}

.c-post__image {
  width: 3rem;
  margin-right: 0.5rem;
}

.c-post__content {
  flex-grow: 1;
}

.c-post__headline {
  font-weight: 600;
  display: inline;
}
.c-post__autor {
  color: var(--collor-gray-600);
}
.c-post__date {
  color: var(--collor-gray-600);
}
.c-post__teaser {
}

.c-post__link, .c-pagination__link {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 0.3rem 1rem;
    border-radius: 2rem;
}

hr {
    border-color: var(--collor-gray-200);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.c-tag {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  margin-right: 0.3rem;
  background-color: var(--collor-gray-200);
}

.c-tag:hover {
  background-color: var(--collor-gray-600);
  color: var(--color-white);
}

.c-detail-content a {
  text-decoration: underline;
}

.c-detail-content p {
  margin-bottom: 0.8rem;
}

.c-detail-content h2 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--collor-gray-200);
}

.c-detail-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.c-detail-content img {
  border: 1px solid var(--collor-gray-200);
}

.c-detail-content ul {
  list-style: circle;
  margin-left: 1.5rem;
}

/*pre {
    background-color: #eee;
    font-family: courier, monospace;
    padding: 0 3px;
  }*/
  

.c-search {
  display: flex;
  border: 1px solid var(--collor-gray-200);
}

.c-search__input {
  flex-grow: 1;
  padding: 0.625rem;
}

.c-search__button {
  padding: 0.5rem;
}

.language-bash {
  text-wrap: pretty;
}

.c-detail-content > table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  margin-bottom: 1em;
} 

.c-detail-content > table {
  th, td {
    border: 1px solid;
  }
} 

.c-detail-content pre {
  margin-bottom: 0.8rem;
}

.c-detail-content p > code {
  background-color: #F3F3F3;
  display: inline-block;
    padding-inline: 0.3rem;
    margin-inline: 0rem;
    
    padding-block: 0.2rem;
    margin-block: -0.3rem;
}

.c-detail-content dd {
  margin-inline-start: 40px;
}

.c-detail-content u {
  text-decoration: #f00 wavy underline;
}